apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: raw-block-pvc
  namespace: {{ K8S_DEFAULE_NAMESPACE }}
spec:
  accessModes:
    - ReadWriteOnce
  #volumeMode: Block
  volumeMode: Filesystem
  resources:
    requests:
      storage: 6Gi
  storageClassName: csi-rbd-sc