#jinja2: trim_blocks: True, lstrip_blocks: True
global_defs {
    notification_email {
    }
    router_id {{ inventory_hostname }}
    vrrp_skip_check_adv_addr
    vrrp_garp_interval 0
    vrrp_gna_interval 0
  }
     
  vrrp_script chk_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 2
    weight 2
  }
     
  vrrp_instance haproxy-vip {
    state {% if inventory_hostname == "pi0" %}MASTER{% else %}BACKUP{% endif %}

    priority {% if inventory_hostname == "pi0" %}100{% else %}90{% endif %}

    virtual_router_id 2{{ inventory_hostname | replace('pi', '') }}

    interface eth0
    advert_int 1
    authentication {
      auth_type PASS
      auth_pass 1111
    }
    unicast_src_ip {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
    unicast_peer {

      {% for host in groups['HA'] %}
      {% if host != inventory_hostname %}
      {{ hostvars[host]['ansible_default_ipv4']['address'] }}{% endif %}
      {% endfor %}

    }
     
    virtual_ipaddress {
      {{ K8S_HA_VIP }}/24
    }
     
    track_script {
      chk_haproxy
    }
  }
