## Deprecated Start ###
# BASE_DIR: '/usr/local'
# ENV_FILE_SOURCE: '/etc/profile'
# JAVA_HOME: '/usr/lib/jvm/java-11-openjdk-amd64'
# DOWNLOAD_URL_HBASE: 'https://dlcdn.apache.org/hbase/2.5.0/hbase-2.5.0-bin.tar.gz'
# DOWNLOAD_URL_HADOOP: 'https://downloads.apache.org/hadoop/common/hadoop-3.3.4/hadoop-3.3.4.tar.gz'
# DOWNLOAD_URL_ZK: 'https://dlcdn.apache.org/zookeeper/zookeeper-3.8.0/apache-zookeeper-3.8.0-bin.tar.gz'
# DOWNLOAD_URL_KAFKA: 'https://downloads.apache.org/kafka/3.3.1/kafka_2.12-3.3.1.tgz'
# HADOOP_HOME: '{{ BASE_DIR }}/hadoop'
# HBASE_HOME: '{{ BASE_DIR }}/hbase'
# ZK_HOME: '{{ BASE_DIR }}/zk'
# KAFKA_HOME: '{{ BASE_DIR }}/kafka'
# CEPH_HOME: '/etc/ceph'
# CEPH_DATA: '/dev/ceph'
# KAFKA_UI_INTERNAL_PORT: '8087'
# KAFKA_UI_PORT: '30378'
# DATA_PATH: '/opt/data'
# DIR_DATA: '{{ DATA_PATH }}/dn'
# DIR_NAME: '{{ DATA_PATH }}/nn'
# K8S_USER: '${os}'
# OS_USER: '${os}'
# K8S_DEFAULE_NAMESPACE: 'default'
# # 如果自裝zk, 使用false; 或者用true, hbase會負責跑zookeeper
# HBASE_MANAGES_ZK: 'false'
# KAFKA_BROKER: 2
# # Ceph
# CEPHFS: 'cephfs'
# CEPHFS_CLIENT_FS: 'fs'
# CEPHFS_DATA: 'rbd'
# CEPHFS_CLIENT: 'csi'
# CEPH_RBD: 'k8s'
# CEPHFS_METADATA: 'rbd_metadata'
## Deprecated End ###

RESOURCE_PREFIX: 'bd'
# CephFS
CEPH_STORAGE_CLASS: 'ceph-filesystem'
# CephRBD
CEPH_STORAGE_CLASS_RBD: 'ceph-block'
# Keepalived & HAProxy
# K8S_HA_VIP: '10.33.27.78'