apiVersion: v1
kind: Service
metadata:
  name: http-request-total
  namespace: "{{ K8S_DEFAULE_NAMESPACE }}"
  labels:
    app: http-request-total
  annotations:
    prometheus.io/port: "9121"
    prometheus.io/scrape: "true"
spec:
  selector:
    app: http-request-total
  ports:
  - name: metrics
    port: 9121
    protocol: TCP
    targetPort: metrics
