apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  namespace: "{{ K8S_DEFAULE_NAMESPACE }}"
  name: http-request-total
  labels:
    name: http-request-total
    release: prometheus-stack
spec:
  selector:
    matchLabels:
      app: http-request-total
  endpoints:
  - targetPort: metrics
    scheme: http
    interval: 5s
    #scrapeTimeout: 5s
  namespaceSelector:
    any: true