apiVersion: v1
kind: Pod
metadata:
  namespace: "{{ K8S_DEFAULE_NAMESPACE }}"
  name: hello-pod
  labels:
    app: hello-pod
    author: jasoncheng
spec:
  restartPolicy: Never
  containers:
  - name: web-server
    image: {{ REGISTRY }}/{{ REPO }}
    command: ["sh", "-c"]
    args:
    - while true; do
        echo -en '\n';
        printenv POD_IP POD_NAME;
        sleep 10;
      done;
    env:
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    ports:
    - containerPort: 80