apiVersion: v1
kind: Secret
metadata:
  name: {{ adminUsername }}
  namespace: {{ ns }}
  annotations:
    kubernetes.io/service-account.name: {{ adminUsername }}
type: kubernetes.io/service-account-token